{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79df6f72eb1d44fa885fdc0c72393c4c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lastpass.com/enterpriseapi.php"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=UTF-8",
            "size": 1958,
            "text": "{\"total\":4,\"count\":4,\"Users\":{\"449022543\":{\"username\":\"josh.mattox@jupiterone.io\",\"fullname\":\"\",\"mpstrength\":\"100\",\"created\":\"2022-05-11 11:02:26\",\"last_pw_change\":\"2022-05-11 11:02:26\",\"last_login\":\"2022-06-02 09:20:59\",\"neverloggedin\":false,\"disabled\":false,\"admin\":true,\"totalscore\":\"0\",\"duousername\":null,\"sites\":0,\"notes\":0,\"formfills\":0,\"applications\":0,\"attachments\":0,\"password_reset_required\":false},\"453055833\":{\"username\":\"sam.andrus@jupiterone.io\",\"fullname\":\"Sam Andrus\",\"mpstrength\":\"100\",\"created\":\"2022-06-02 09:37:18\",\"last_pw_change\":\"2022-06-02 10:27:08\",\"last_login\":\"2022-06-21 17:58:11\",\"neverloggedin\":false,\"disabled\":false,\"admin\":true,\"totalscore\":\"0\",\"duousername\":\"sam.andrus@jupiterone.io\",\"sites\":0,\"notes\":0,\"formfills\":0,\"applications\":0,\"attachments\":0,\"password_reset_required\":false,\"groups\":[\"Integration Development\"]},\"456589433\":{\"username\":\"samuel.poulton+lastpass@jupiterone.com\",\"fullname\":\"Samuel Poulton\",\"mpstrength\":\"0\",\"created\":\"2022-06-21 11:12:30\",\"last_pw_change\":\"2022-06-21 11:12:30\",\"last_login\":\"\",\"neverloggedin\":true,\"disabled\":false,\"admin\":true,\"totalscore\":null,\"duousername\":\"samuel.poulton+lastpass@jupiterone.com\",\"sites\":null,\"notes\":null,\"formfills\":null,\"applications\":null,\"attachments\":null,\"password_reset_required\":true,\"groups\":[\"Integration Development\"]},\"456594193\":{\"username\":\"samuel.poulton+lastpass2@jupiterone.com\",\"fullname\":\"Samuel Poulton\",\"mpstrength\":\"75\",\"created\":\"2022-06-21 11:24:26\",\"last_pw_change\":\"2022-06-21 11:30:37\",\"last_login\":\"2022-06-21 11:42:47\",\"neverloggedin\":false,\"disabled\":false,\"admin\":true,\"totalscore\":\"0\",\"duousername\":\"samuel.poulton+lastpass2@jupiterone.com\",\"sites\":1,\"notes\":1,\"formfills\":0,\"applications\":0,\"attachments\":0,\"password_reset_required\":false,\"groups\":[\"Integration Development\"]}},\"Groups\":{\"Integration Development\":[\"sam.andrus@jupiterone.io\",\"samuel.poulton+lastpass@jupiterone.com\",\"samuel.poulton+lastpass2@jupiterone.com\"]}}"
          },
            {
              "domain": ".lastpass.com",
              "expires": "2022-06-22T02:02:09.000Z",
              "maxAge": 14400,
              "name": "bm_sz",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
