{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79df6f72eb1d44fa885fdc0c72393c4c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lastpass.com/enterpriseapi.php"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=UTF-8",
            "size": 422,
            "text": "{\"total\":4,\"count\":1,\"Users\":{\"449022543\":{\"username\":\"no.one@jupiterone.io\",\"fullname\":\"\",\"mpstrength\":\"100\",\"created\":\"2022-05-11 11:02:26\",\"last_pw_change\":\"2022-05-11 11:02:26\",\"last_login\":\"2022-06-02 09:20:59\",\"neverloggedin\":false,\"disabled\":false,\"admin\":true,\"totalscore\":\"0\",\"duousername\":null,\"sites\":0,\"notes\":0,\"formfills\":0,\"applications\":0,\"attachments\":0,\"password_reset_required\":false,\"groups\":[]}}}"
          },
            {
              "domain": ".lastpass.com",
              "expires": "2022-06-22T01:10:13.000Z",
              "maxAge": 14400,
              "name": "bm_sz",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 303,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
