{
  "log": {
    "_recordingName": "client-secret-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79df6f72eb1d44fa885fdc0c72393c4c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://lastpass.com/enterpriseapi.php"
        },
        "response": {
          "content": {
            "mimeType": "text/xml;charset=UTF-8",
            "size": 76,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lastpass rc=\"Authorization Error\"/>\n"
          },
            {
              "domain": ".lastpass.com",
              "expires": "2022-06-22T01:17:43.000Z",
              "maxAge": 14400,
              "name": "bm_sz",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/xml;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 345,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
